<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ekincare"
    android:versionCode="69"
    android:versionName="9.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <permission
        android:name="com.ekincare.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ekincare.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.PHONE_CALL" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.c2dm.permission.REGISTER" />
    <uses-permission android:name="com.ekincare.receiver.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.CALL_PHONE" />
    <permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.CAMERA" />
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.RECEIVE_SMS" />
    <permission android:name="android.permission.READ_SMS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="com.ekincare.receiver.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.EkinCareApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.oneclick.ekincare.SplashScreenActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name="com.oneclick.ekincare.ActivitySignUpTest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>
        <activity
            android:name="com.oneclick.ekincare.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity android:name="com.mixpanel.android.surveys.SurveyActivity"
            android:theme="@style/com_mixpanel_android_SurveyActivityTheme"/>


        <activity
            android:name="com.oneclick.ekincare.HowWasYourDayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oneclick.ekincare.ActivitySetting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oneclick.ekincare.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.oneclick.ekincare.ActivityFamilyMemberSwitch"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FamilyList" />

        <activity
            android:name="com.oneclick.ekincare.ActivityNotificationList"
            android:screenOrientation="portrait"
             />

        <activity
            android:name="com.oneclick.ekincare.ActivityFamilyMemberAddMedication"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.oneclick.ekincare.ActivityEditProfile"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.openNoteScanner.OpenNoteScannerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.openNoteScanner.FullScreenViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.oneclick.ekincare.ActivityAssessmentMay"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oneclick.ekincare.MainActivity" />
        </activity>

        <activity
            android:name="com.oneclick.ekincare.ActivityAssessmentGraphMay"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oneclick.ekincare.MainActivity" />
        </activity>


        <activity
            android:name=".ui.fragment.WebViewActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oneclick.ekincare.ReportsImageActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name="com.oneclick.ekincare.AdultWizardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.oneclick.ekincare.PedometerGraph"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.oneclick.ekincare.ChildWizardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.oneclick.ekincare.MainActivity2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent2"/>

        <service android:name=".receiver.GCMNotificationIntentService" />

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.REGISTER" />

                <category android:name="com.ekincare.receiver" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.HydroCareReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="YES_ACTION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MidNightDailyUpdateReceiver"
            android:process=":remote"></receiver>



        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.category.DEFAULT"></action>
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.FamilyNotificationReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="YES_ACTION" />
                <action android:name="SETTING_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.TestReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="YES_ACTION" />
                <action android:name="SETTING_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.RecordUploadNotificationReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="YES_ACTION" />
                <action android:name="SETTING_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.WeightUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="YES_ACTION" />
                <action android:name="SETTING_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.ResetAllPreferenceNotificationReciever">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="YES_ACTION" />
                <action android:name="SETTING_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".util.MidnightDailyUploadServiceService" />
        <service
            android:name=".util.SleepPatternService"
            android:process=":my_process" />

        <service android:name=".util.DataUploadSyncService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".util.HydrocareNotificationService"
            android:enabled="true" />
        <service
            android:name="com.oneclick.ekincare.utility.FetchAddressIntentService"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYc9bavneiDQiajrv8m1t-zTvmn87myhA"/>

        <meta-data android:name="com.mixpanel.android.MPConfig.AutoShowMixpanelUpdates"
            android:value="false" />
       <!-- rzp_test_EUnMRKRdXIcvm6-->
       <!-- rzp_live_WzQDkjyastRuul-->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_WzQDkjyastRuul"
            />
    </application>

</manifest>